@import "~bootstrap/scss/bootstrap";

#loginPage {  
display: flex;
justify-content: center;
.loginContainer {
background-color: red;  
width: 90vw;
height: auto; 
  .mainLogin {
  background-color: white;
  display: flex;
  justify-content: center;
  .form-signin
  {
    margin-top: 50px;
    text-align: center;
    width: 300px;
    height: auto;
    input[type=email] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    height: 50px;
}input[type=password] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 50px;
}

.end { display: flex; flex-direction: column; }
    
  }
  .form-signup
  {
      margin-top: 50px;
    text-align: center;
    height: auto;
  }

  }

  
    
}
}
