@import "~bootstrap/scss/bootstrap";
body { 
margin-left: 5vw;
min-width: 600px;

#loginPage {
  width: 90vw;
  height: 100vh;
  margin-top: -8px;

  display: grid;
  grid-template-rows: 100px auto 60px;

  grid-template-areas:
    "headerLogin"
    "mainLogin"
    "footerLogin";

  .headerLogin {
  background-color: rgb(241, 241, 241);
  grid-area: headerLogin; 
  img { width: 120px;}
  }
  .mainLogin {
  background-color: white;
  grid-area: mainLogin; 
 
  display: flex;
  justify-content: center;
  .form-signin
  {
    margin-top: 50px;
    text-align: center;
    width: 300px;
    height: auto;
    input[type=email] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    height: 50px;
}input[type=password] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 50px;
}

.end { display: flex; flex-direction: column; }
    
  }
  .form-signup
  {
      margin-top: 50px;
    text-align: center;
    height: auto;
  }

  }
  .footerLogin {
  background-color: red;
  grid-area: footerLogin; 
  }
  
    
}
}
